<h1>Welcome, <%= current_user.username %></h1>

<p>From your profile you have access to a message area where players can type messages for others
to read.</p>


<a href="/post">Post</a>
</br><a href="/collection">Collection</a>
</br><a href="/trade">Trade</a>
<p><a href="/">Home</a></p>
<p><a href="/logout">Log Out</a></p>