<h1>Welcome, <%= current_user.username %></h1>

<p>We are currently working on your profile.</p>


<a href="/post">Post</a>
<p><a href="/collection">Collection</a>
<p><a href="/">Home</a></p>
<p><a href="/logout">Log Out</a></p>