
<h3>Sign Up</h3>

<p>Please enter a username and password to create your account.</P>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>