<form action="/post/post" method="post">
  <ul>
    <li>
      <label for="title">Author</label>
      <input id="title" type="text" name="author" />
    </li>
    <li>
      <label for="content">Content</label>
      <textarea id="content" type="text" name="text">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>