<h2>Card Collection</h2>
<p><b>Life Value: 
<% life_array=[]
@collection.each do |m|
  life_array << m.card.value
end %>
<a style="color:red;font-size:150%"><%= life_array.sum%></a></b>
</p>
<% @collection.each do |collection| %>
    <a href="<%= collection.card.image%>" target="_blank"><img src="<%= collection.card.image%>" style="width:150px;height:210px;"></a>
<% end %>
</br>
</br>
<% if @elapsed > 60 %>
<form method="post" action="/collection">
  <input type="submit" value="Card Pack">
</form>
<% else %>
Pack not available. Please check back later.<%= @elapsed %>
<% end %>

</br><a href="/users/profile">Back to Profile</a>