<div class="container">
  <!-- <header><a href="images/Car01.png" target="_blank"><img src="images/Car01.png" style="width:225px;height:315px;"></a></header> -->
  <div class="col-md-8 col-md-offset-2">
    <h2>Life Trading Card Game</h2>

    <div class="content">
      <p>Welcome to the LifeTCG! Life TCG is a simple trading card game where you can collect cards and increase your life score compared to other players.
      For a more detailed explanation about how this works please view the <a href="/rules">rules</a>.</p>

      <p>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>
    </div>
    <div class="sidebar">
      <h3>Card Showcase</h3>
      <img src="<%= @random.image %>" style="width:225px;height:315px;">
    </div>

  </div>
</div>
