<h2>Rules</h2>
<p>The rules for Life TCG are simple.  Collect cards to increase your Life score. Increase your score to have the best Life Score around.  Check
the rankings on the home page to see where you place compared to other players.</p>

<p>The cards come in 5 different rarities: Common (grey), Uncommon (blue), Rare (green), Epic (purple), and Legendary (orange).  The 
rarer the card, the higher the Life value of the card.  The cards also come in 5 different types: Car, House, Pet, Computer, and Phone.</P>

<p>Go to your Collection under your Profile and start collecting cards now.  You will be able to open a new pack of cards every 4 hours. Enjoy!</p>

<img src="/images/Card Description.png" style="width:750px;height:577px;">

<p><a href="/">Home</a>

